In [132]:
import pandas as pd

In [133]:

file_path = r"C:\Users\dipak\OneDrive\Desktop\Journey_AI\IBM AI ENgineer\netflix_titles\netflix_titles.csv\netflix_titles.csv"

In [134]:
df = pd.read_csv(file_path)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [135]:
# Drop duplicates

In [136]:
had_duplicates = df.duplicated().any()

In [137]:
had_duplicates

False

In [138]:
if had_duplicates:
    df = df.drop_duplicates()

In [139]:
# Drop null values

In [140]:
df = df.dropna()

In [141]:
had_duplicates = df.duplicated().any()

In [142]:
had_duplicates

False

In [143]:
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [144]:
new_time = df['date_added']
new_time = new_time.to_numpy()
new_time

array(['September 24, 2021', 'September 24, 2021', 'September 24, 2021',
       ..., 'November 1, 2019', 'January 11, 2020', 'March 2, 2019'],
      dtype=object)

In [145]:
year_added = []
for i in new_time:
    year_added.append(pd.to_datetime(str(i)))

In [146]:
year_added[:5]

[Timestamp('2021-09-24 00:00:00'),
 Timestamp('2021-09-24 00:00:00'),
 Timestamp('2021-09-24 00:00:00'),
 Timestamp('2021-09-23 00:00:00'),
 Timestamp('2021-09-21 00:00:00')]

In [147]:
year_added = pd.DataFrame(year_added, columns=["Year added"])
year_added.head()

  Year added
0 2021-09-24
1 2021-09-24
2 2021-09-24
3 2021-09-23
4 2021-09-21

In [148]:
df = pd.concat([df,year_added],axis=1)

In [149]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'Year added'],
      dtype='object')

In [150]:
# We can successfully see that year has beed added to dataframe

In [151]:
type_data = df[['type']].value_counts()
type_data.head()

type
Movie      5185
TV Show     147
Name: count, dtype: int64

In [152]:
total = type_data["Movie"] + type_data["TV Show"]
total

5332

In [153]:
print(f"Movie: {(type_data["Movie"]/total) * 100}")

Movie: 97.2430607651913

In [154]:
print(f"TV Show: {(type_data["TV Show"]/total) * 100}")

TV Show: 2.7569392348087023

In [155]:
total

5332

In [156]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'Year added'],
      dtype='object')

In [192]:
x = df[['Year added']]
x = pd.to_datetime(x['Year added']).dt.year.sort_index()

In [208]:
df['country'].value_counts()

country
United States                                   1846
India                                            875
United Kingdom                                   183
Canada                                           107
Spain                                             91
                                                ...
Uruguay, Guatemala                                 1
Romania, Bulgaria, Hungary                         1
Philippines, United States                         1
India, United Kingdom, Canada, United States       1
United Arab Emirates, Jordan                       1
Name: count, Length: 604, dtype: int64