In [7]:
import pandas as pd

In [8]:

file_path = r"C:\Users\dipak\OneDrive\Desktop\Journey_AI\IBM AI ENgineer\netflix_titles\netflix_titles.csv\netflix_titles.csv"

In [10]:
df = pd.read_csv(file_path)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [12]:
# Drop duplicates

In [13]:
had_duplicates = df.duplicated().any()

In [14]:
had_duplicates

False

In [15]:
if had_duplicates:
    df = df.drop_duplicates()

In [22]:
has_null = df.isnull().any()

In [23]:
has_null

show_id         False
type            False
title           False
director         True
cast             True
country          True
date_added       True
release_year    False
rating           True
duration         True
listed_in       False
description     False
dtype: bool

In [24]:
# Drop null values

In [25]:
df = df.dropna()

In [30]:
had_duplicates = df.duplicated().any()

In [29]:
had_duplicates

7       False
8       False
9       False
12      False
24      False
        ...
8801    False
8802    False
8804    False
8805    False
8806    False
Length: 5332, dtype: bool

In [32]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [54]:
new_time = df['date_added']
new_time = new_time.to_numpy()
new_time

array(['September 24, 2021', 'September 24, 2021', 'September 24, 2021',
       ..., 'November 1, 2019', 'January 11, 2020', 'March 2, 2019'],
      dtype=object)

In [55]:
year_added = []
for i in new_time:
    year_added.append(pd.to_datetime(str(i)))

In [56]:
year_added

[Timestamp('2021-09-24 00:00:00'),
 Timestamp('2021-09-24 00:00:00'),
 Timestamp('2021-09-24 00:00:00'),
 Timestamp('2021-09-23 00:00:00'),
 Timestamp('2021-09-21 00:00:00'),
 Timestamp('2021-09-20 00:00:00'),
 Timestamp('2021-09-19 00:00:00'),
 Timestamp('2021-09-19 00:00:00'),
 Timestamp('2021-09-16 00:00:00'),
 Timestamp('2021-09-16 00:00:00'),
 Timestamp('2021-09-16 00:00:00'),
 Timestamp('2021-09-16 00:00:00'),
 Timestamp('2021-09-16 00:00:00'),
 Timestamp('2021-09-16 00:00:00'),
 Timestamp('2021-09-16 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-15 00:00:00'),
 Timestamp('2021-09-14 00:00:00'),
 Timestamp('2021-09-10 00:00:00'),
 Timestamp('2021-09-10 00:00:00'),
 Timestamp('2021-09-09 00:00:00'),
 Timestamp('2021-09-08 00:00:00'),
 Timestamp('2021-09-07 00:00:00'),
 Timestamp('2021-09-05 00:00:00'),
 Timestamp('2021-09-04 00:00:00'),
 Timestamp('2021-09-02 00:00:00'),
 Timestamp('2021-09-02 00:00:00'),
 Timestamp('2021-09-02 00:00:00'),
 Timestamp('2021-09-02 00:00:00'),
 Timestamp('2021-09-02 00:00:00'),
 Timestamp('2021-09-02 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-08-31 00:00:00'),
 Timestamp('2021-08-28 00:00:00'),
 Timestamp('2021-08-28 00:00:00'),
 Timestamp('2021-08-28 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-25 00:00:00'),
 Timestamp('2021-08-25 00:00:00'),
 Timestamp('2021-08-25 00:00:00'),
 Timestamp('2021-08-25 00:00:00'),
 Timestamp('2021-08-20 00:00:00'),
 Timestamp('2021-08-19 00:00:00'),
 Timestamp('2021-08-18 00:00:00'),
 Timestamp('2021-08-18 00:00:00'),
 Timestamp('2021-08-16 00:00:00'),
 Timestamp('2021-08-15 00:00:00'),
 Timestamp('2021-08-13 00:00:00'),
 Timestamp('2021-08-13 00:00:00'),
 Timestamp('2021-08-13 00:00:00'),
 Timestamp('2021-08-12 00:00:00'),
 Timestamp('2021-08-12 00:00:00'),
 Timestamp('2021-08-11 00:00:00'),
 Timestamp('2021-08-11 00:00:00'),
 Timestamp('2021-08-11 00:00:00'),
 Timestamp('2021-08-11 00:00:00'),
 Timestamp('2021-08-08 00:00:00'),
 Timestamp('2021-08-08 00:00:00'),
 Timestamp('2021-08-07 00:00:00'),
 Timestamp('2021-08-06 00:00:00'),
 Timestamp('2021-08-06 00:00:00'),
 Timestamp('2021-08-06 00:00:00'),
 Timestamp('2021-08-06 00:00:00'),
 Timestamp('2021-08-05 00:00:00'),
 Timestamp('2021-08-05 00:00:00'),
 Timestamp('2021-08-05 00:00:00'),
 Timestamp('2021-08-05 00:00:00'),
 Timestamp('2021-08-04 00:00:00'),
 Timestamp('2021-08-04 00:00:00'),
 Timestamp('2021-08-04 00:00:00'),
 Timestamp('2021-08-03 00:00:00'),
 Timestamp('2021-08-03 00:00:00'),
 Timestamp('2021-08-03 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-07-30 00:00:00'),
 Timestamp('2021-07-29 00:00:00'),
 Timestamp('2021-07-28 00:00:00'),
 Timestamp('2021-07-28 00:00:00'),
 Timestamp('2021-07-27 00:00:00'),
 Timestamp('2021-07-27 00:00:00'),
 Timestamp('2021-07-24 00:00:00'),
 Timestamp('2021-07-23 00:00:00'),
 Timestamp('2021-07-23 00:00:00'),
 Timestamp('2021-07-22 00:00:00'),
 Timestamp('2021-07-22 00:00:00'),
 Timestamp('2021-07-22 00:00:00'),
 Timestamp('2021-07-21 00:00:00'),
 Timestamp('2021-07-20 00:00:00'),
 Timestamp('2021-07-19 00:00:00'),
 Timestamp('2021-07-17 00:00:00'),
 Timestamp('2021-07-16 00:00:00'),
 Timestamp('2021-07-16 00:00:00'),
 Timestamp('2021-07-16 00:00:00'),
 Timestamp('2021-07-16 00:00:00'),
 Timestamp('2021-07-16 00:00:00'),
 Timestamp('2021-07-16 00:00:00'),
 Timestamp('2021-07-16 00:00:00'),
 Timestamp('2021-07-16 00:00:00'),
 Timestamp('2021-07-15 00:00:00'),
 Timestamp('2021-07-15 00:00:00'),
 Timestamp('2021-07-14 00:00:00'),
 Timestamp('2021-07-13 00:00:00'),
 Timestamp('2021-07-10 00:00:00'),
 Timestamp('2021-07-09 00:00:00'),
 Timestamp('2021-07-08 00:00:00'),
 Timestamp('2021-07-08 00:00:00'),
 Timestamp('2021-07-08 00:00:00'),
 Timestamp('2021-07-08 00:00:00'),
 Timestamp('2021-07-07 00:00:00'),
 Timestamp('2021-07-07 00:00:00'),
 Timestamp('2021-07-07 00:00:00'),
 Timestamp('2021-07-07 00:00:00'),
 Timestamp('2021-07-06 00:00:00'),
 Timestamp('2021-07-06 00:00:00'),
 Timestamp('2021-07-06 00:00:00'),
 Timestamp('2021-07-06 00:00:00'),
 Timestamp('2021-07-06 00:00:00'),
 Timestamp('2021-07-06 00:00:00'),
 Timestamp('2021-07-06 00:00:00'),
 Timestamp('2021-07-06 00:00:00'),
 Timestamp('2021-07-02 00:00:00'),
 Timestamp('2021-07-02 00:00:00'),
 Timestamp('2021-07-02 00:00:00'),
 Timestamp('2021-07-02 00:00:00'),
 Timestamp('2021-07-02 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-06-30 00:00:00'),
 Timestamp('2021-06-30 00:00:00'),
 Timestamp('2021-06-28 00:00:00'),
 Timestamp('2021-06-26 00:00:00'),
 Timestamp('2021-06-25 00:00:00'),
 Timestamp('2021-06-25 00:00:00'),
 Timestamp('2021-06-24 00:00:00'),
 Timestamp('2021-06-22 00:00:00'),
 Timestamp('2021-06-22 00:00:00'),
 Timestamp('2021-06-21 00:00:00'),
 Timestamp('2021-06-21 00:00:00'),
 Timestamp('2021-06-21 00:00:00'),
 Timestamp('2021-06-19 00:00:00'),
 Timestamp('2021-06-19 00:00:00'),
 Timestamp('2021-06-18 00:00:00'),
 Timestamp('2021-06-18 00:00:00'),
 Timestamp('2021-06-17 00:00:00'),
 Timestamp('2021-06-17 00:00:00'),
 Timestamp('2021-06-17 00:00:00'),
 Timestamp('2021-06-17 00:00:00'),
 Timestamp('2021-06-16 00:00:00'),
 Timestamp('2021-06-16 00:00:00'),
 Timestamp('2021-06-16 00:00:00'),
 Timestamp('2021-06-15 00:00:00'),
 Timestamp('2021-06-15 00:00:00'),
 Timestamp('2021-06-15 00:00:00'),
 Timestamp('2021-06-15 00:00:00'),
 Timestamp('2021-06-15 00:00:00'),
 Timestamp('2021-06-13 00:00:00'),
 Timestamp('2021-06-13 00:00:00'),
 Timestamp('2021-06-11 00:00:00'),
 Timestamp('2021-06-11 00:00:00'),
 Timestamp('2021-06-11 00:00:00'),
 Timestamp('2021-06-11 00:00:00'),
 Timestamp('2021-06-10 00:00:00'),
 Timestamp('2021-06-10 00:00:00'),
 Timestamp('2021-06-10 00:00:00'),
 Timestamp('2021-06-10 00:00:00'),
 Timestamp('2021-06-10 00:00:00'),
 Timestamp('2021-06-09 00:00:00'),
 Timestamp('2021-06-09 00:00:00'),
 Timestamp('2021-06-09 00:00:00'),
 Timestamp('2021-06-07 00:00:00'),
 Timestamp('2021-06-05 00:00:00'),
 Timestamp('2021-06-05 00:00:00'),
 Timestamp('2021-06-04 00:00:00'),
 Timestamp('2021-06-04 00:00:00'),
 Timestamp('2021-06-04 00:00:00'),
 Timestamp('2021-06-04 00:00:00'),
 Timestamp('2021-06-04 00:00:00'),
 Timestamp('2021-06-03 00:00:00'),
 Timestamp('2021-06-03 00:00:00'),
 Timestamp('2021-06-03 00:00:00'),
 Timestamp('2021-06-03 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-06-02 00:00:00'),
 Timestamp('2021-05-30 00:00:00'),
 Timestamp('2021-05-28 00:00:00'),
 Timestamp('2021-05-27 00:00:00'),
 Timestamp('2021-05-27 00:00:00'),
 Timestamp('2021-05-27 00:00:00'),
 Timestamp('2021-05-27 00:00:00'),
 Timestamp('2021-05-26 00:00:00'),
 Timestamp('2021-05-25 00:00:00'),
 Timestamp('2021-05-21 00:00:00'),
 Timestamp('2021-05-21 00:00:00'),
 Timestamp('2021-05-20 00:00:00'),
 Timestamp('2021-05-20 00:00:00'),
 Timestamp('2021-05-19 00:00:00'),
 Timestamp('2021-05-19 00:00:00'),
 Timestamp('2021-05-18 00:00:00'),
 Timestamp('2021-05-18 00:00:00'),
 Timestamp('2021-05-16 00:00:00'),
 Timestamp('2021-05-15 00:00:00'),
 Timestamp('2021-05-14 00:00:00'),
 Timestamp('2021-05-14 00:00:00'),
 Timestamp('2021-05-14 00:00:00'),
 Timestamp('2021-05-14 00:00:00'),
 Timestamp('2021-05-14 00:00:00'),
 Timestamp('2021-05-14 00:00:00'),
 Timestamp('2021-05-14 00:00:00'),
 Timestamp('2021-05-14 00:00:00'),
 Timestamp('2021-05-13 00:00:00'),
 Timestamp('2021-05-13 00:00:00'),
 Timestamp('2021-05-12 00:00:00'),
 Timestamp('2021-05-12 00:00:00'),
 Timestamp('2021-05-11 00:00:00'),
 Timestamp('2021-05-10 00:00:00'),
 Timestamp('2021-05-09 00:00:00'),
 Timestamp('2021-05-08 00:00:00'),
 Timestamp('2021-05-08 00:00:00'),
 Timestamp('2021-05-07 00:00:00'),
 Timestamp('2021-05-07 00:00:00'),
 Timestamp('2021-05-07 00:00:00'),
 Timestamp('2021-05-07 00:00:00'),
 Timestamp('2021-05-07 00:00:00'),
 Timestamp('2021-05-06 00:00:00'),
 Timestamp('2021-05-06 00:00:00'),
 Timestamp('2021-05-05 00:00:00'),
 Timestamp('2021-05-04 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-04-30 00:00:00'),
 Timestamp('2021-04-30 00:00:00'),
 Timestamp('2021-04-28 00:00:00'),
 Timestamp('2021-04-27 00:00:00'),
 Timestamp('2021-04-27 00:00:00'),
 Timestamp('2021-04-27 00:00:00'),
 Timestamp('2021-04-27 00:00:00'),
 Timestamp('2021-04-24 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-22 00:00:00'),
 Timestamp('2021-04-22 00:00:00'),
 Timestamp('2021-04-21 00:00:00'),
 Timestamp('2021-04-21 00:00:00'),
 Timestamp('2021-04-19 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-15 00:00:00'),
 Timestamp('2021-04-15 00:00:00'),
 Timestamp('2021-04-15 00:00:00'),
 Timestamp('2021-04-15 00:00:00'),
 Timestamp('2021-04-15 00:00:00'),
 Timestamp('2021-04-15 00:00:00'),
 Timestamp('2021-04-15 00:00:00'),
 Timestamp('2021-04-15 00:00:00'),
 Timestamp('2021-04-14 00:00:00'),
 Timestamp('2021-04-14 00:00:00'),
 Timestamp('2021-04-14 00:00:00'),
 Timestamp('2021-04-12 00:00:00'),
 Timestamp('2021-04-10 00:00:00'),
 Timestamp('2021-04-09 00:00:00'),
 Timestamp('2021-04-09 00:00:00'),
 Timestamp('2021-04-09 00:00:00'),
 Timestamp('2021-04-09 00:00:00'),
 Timestamp('2021-04-09 00:00:00'),
 Timestamp('2021-04-08 00:00:00'),
 Timestamp('2021-04-05 00:00:00'),
 Timestamp('2021-04-04 00:00:00'),
 Timestamp('2021-04-04 00:00:00'),
 Timestamp('2021-04-03 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-03-31 00:00:00'),
 Timestamp('2021-03-31 00:00:00'),
 Timestamp('2021-03-30 00:00:00'),
 Timestamp('2021-03-30 00:00:00'),
 Timestamp('2021-03-29 00:00:00'),
 Timestamp('2021-03-28 00:00:00'),
 Timestamp('2021-03-26 00:00:00'),
 Timestamp('2021-03-26 00:00:00'),
 Timestamp('2021-03-26 00:00:00'),
 Timestamp('2021-03-26 00:00:00'),
 Timestamp('2021-03-26 00:00:00'),
 Timestamp('2021-03-25 00:00:00'),
 Timestamp('2021-03-25 00:00:00'),
 Timestamp('2021-03-23 00:00:00'),
 Timestamp('2021-03-23 00:00:00'),
 Timestamp('2021-03-22 00:00:00'),
 Timestamp('2021-03-20 00:00:00'),
 Timestamp('2021-03-20 00:00:00'),
 Timestamp('2021-03-20 00:00:00'),
 Timestamp('2021-03-19 00:00:00'),
 Timestamp('2021-03-19 00:00:00'),
 Timestamp('2021-03-18 00:00:00'),
 Timestamp('2021-03-18 00:00:00'),
 Timestamp('2021-03-18 00:00:00'),
 Timestamp('2021-03-18 00:00:00'),
 Timestamp('2021-03-18 00:00:00'),
 Timestamp('2021-03-18 00:00:00'),
 Timestamp('2021-03-17 00:00:00'),

In [57]:
year_added = pd.DataFrame(year_added, columns=["Year added"])
year_added

     Year added
0    2021-09-24
1    2021-09-24
2    2021-09-24
3    2021-09-23
4    2021-09-21
...         ...
5327 2016-03-09
5328 2019-11-20
5329 2019-11-01
5330 2020-01-11
5331 2019-03-02

[5332 rows x 1 columns]

In [ ]:
df